.dropdown-container {
    position: relative;
    display: inline-block;
}

.dropdown-btn {
    background-color: transparent;
    color: rgb(218, 169, 80);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    width: 10em;
    margin: 0px;
    z-index: 2;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.dropdown-menu {
    z-index: 1;
    position: absolute;
    background-color: #f3f3f3;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
    width: 8em;
    display: block;
    padding: 8px 16px;
}

.dropdown-menu li:hover {
    background-color: #f2f2f2;
}

.dropdown-menu li:last-child {
    border-bottom: none;
}