.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-btn {
    background-color: transparent;
    color: #f3f3f3;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px;
    width: 10em;
  }
  
  .dropdown-menu {
    position: absolute;
    z-index: 1;
    background-color: #ffffff;
    list-style: none;
    margin: 0;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
  }
  
  .dropdown-menu li {
    width: 8em;
    display: block;
    padding: 8px 16px;
  }
  
  .dropdown-menu li:hover {
    background-color: #f2f2f2;
  }
  
  .dropdown-menu li:last-child {
    border-bottom: none;
  }