.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30;
}

.modal-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.modal-form {
    display: flex;
    flex-direction: column;
}


.modal-form-field {
    margin-bottom: 10px;
}


.modal-form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


.modal-form-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}


.modal-form-button {
    width: 40%;
    padding: 8px 12px;
    background-color: #929292;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 5%;
}


.modal-form-button-cancel {
    margin-right: 10px;
    background-color: #929292;
}

.modal-form-button-cancel:hover,
.modal-form-button:hover {
    background-color: #4d4d4d;
}