.restaurant-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .restaurant-container {
    display: flex;
    align-items: center;
    margin: 20px;
  }
  
  .restaurant-img-container {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    overflow: hidden;
  }
  
  .restaurant-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .restaurant-info-container {
    display: flex;
    flex-direction: column;
  }
  
  .menu-link {
    color: blue;
    text-decoration: none;
  }
  
  .menu-link:hover {
    text-decoration: underline;
  }