.header-container {
    background-image: url('./img/Header.jpg');
    display: flex;
    justify-content: space-between;
    height: 9.5em;
    color: rgb(227, 231, 238);
    background-size: auto;
    background-position: initial;

}

.header-title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.search-bar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    margin: 1rem;
}