.header-container {
    background-image: url('./img/Header.jpg');
    display: flex;
    justify-content: space-between;
    height: 9.5em;
    color: rgb(163, 242, 248);
    background-size: auto;
    background-position: initial;

}

.header-title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.1em;
    cursor: grab;
    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);
    font-size: 4.5em;
}
/* h1 {
    font-size: 4em;
} */

.search-bar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    margin: 1rem;
}

.header-dropdown-container {
    display: flex;
    align-items: center;
}