.profile-restaurant-list-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: none;
    list-style: none;
    padding: 0;
}

.profile-restaurant-list-view li{
    display: flex;
    margin-bottom: 20px;
    width: 80%;
    margin-right: 20px;
    margin-left: 20px;
    padding: 0.8rem;
    border: 1px solid #ccc; /* Add border */
    box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.83) inset;
}
.profile-restaurant-list-view,
.info-container {
    flex-grow: 1;
}

.profile-restaurant-img {
    width: 15em;
    height: 15em;
    object-fit: cover;
    margin-right: 20px;
    border: 1px solid #000000
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  
.info-container h2 {
    margin: 0;
}
  
.info-container p {
    margin: 5px 0;
}

.profile-restaurant-view-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-button,
.delete-button {
    align-self: flex-end;
    margin: 5px;
    padding: 6px 12px;
    background-color: #929292;
    color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
  
.edit-button:hover {
    background-color: #4d4d4d;
}