.profile-restaurant-list-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: none;
    list-style: none;
    padding: 0;
}

.profile-restaurant-list-view li{
    display: flex;
    margin-bottom: 20px;
    width: 80%;
    margin-right: 20px;
    margin-left: 20px;
    border: 1px solid #ccc; /* Add border */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
}

.profile-restaurant-img {
    width: 15em;
    height: 15em;
    object-fit: cover;
    padding-right: 20px;
}

.info-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  
.info-container h2 {
    margin: 0;
}
  
.info-container p {
    margin: 5px 0;
}

.profile-restaurant-view-header {
    display: flex;
    justify-content: center;
    align-items: center;
}