.form-container {
    max-width: 30em;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
}
  

.form-field {
    margin-bottom: 10px;
}
  

.form-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
  

.form-field input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
  

.form-container button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #929292;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
  

.form-container button[type="submit"]:hover {
    background-color: #4d4d4d;
}