.searchBar-component-container {
    display: flex;
    align-items: center;
}

.searchBar-component-container div {
    margin-right: 0.5em;
}

.searchBar-component-container input[type = "search"] {
    width: 100%;
    border: none;
    border-radius: 2em;
    padding: 0.5em 1em;
    font-size: 1em;
    color: #333333;
    background-color: #f3f3f3;
}    

.search-icon-container {
    font-size: 1.5em;
}