.age-verification-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}
  
.age-verification-container h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
 
.age-verification-container p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.calendar-wrapper {
    margin-bottom: 1rem;
}
  
.submit-dob {
    background-color: transparent;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
}
  
  .submit-dob:hover {
    background-color: #cfcfcf;
}


.react-calendar {
    background: transparent !important;
    border: none !important;
    color: #ffffff !important;
    font-size: 16px !important;
    font-weight: bold !important;
}
  
.react-calendar__navigation {
    background: transparent !important;
    border: none !important;
    color: #ffffff !important;
    font-size: 16px !important;
    font-weight: bold !important;
}

.react-calendar__navigation, button {
    color: #ffffff;
    font-size: 16px !important;
    font-weight: bold !important;
}
  
.react-calendar__month-view__days {
    background: transparent !important;
    border: none !important;
    color: #ffffff !important;
    font-size: 16px !important;
    font-weight: bold !important;
}
  
.react-calendar__tile {
    background: transparent !important;
    border: none !important;
    color: #ffffff !important;
    font-size: 16px !important;
    font-weight: bold !important;
}
  
.react-calendar__tile--now {
    color: #ffffff !important;
    font-size: 16px !important;
    font-weight: bold !important;
}