.login-choice-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-choice-left,
.login-choice-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.login-choice-left {
    background-image: url('https://i2-prod.mirror.co.uk/incoming/article28800330.ece/ALTERNATES/s1200b/0_people-talking-and-toasting-in-a-pub-with-the-beers.jpg');

}

.login-choice-right{
    background-image: url('https://cdn.vox-cdn.com/thumbor/-ANiLFMbbOGeZwBbBTUqhu31vmY=/0x0:4129x2964/1200x900/filters:focal(1761x1230:2421x1890)/cdn.vox-cdn.com/uploads/chorus_image/image/55881385/Tray_01_drinks.18.jpg');
}

.consumer-choice,
.owner-choice {
    /* setting font-size to vw is an easier way to make font-size responsive */
    font-size: 3.5vw;
}